.profile__container {
  position: relative;
  display: inline-block;
}

.profile__container:hover::before {
  content: "";
  display: block;
  background: rgba(0, 0, 0, 0.8) url(../../../images/avatar-edit-icon.svg)
    no-repeat center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
}
