.profile__button-add {
  background: url(../../../images/profile-addbutton.svg);
  background-size: 22px;
  background-repeat: no-repeat;
  height: 50px;
  width: 150px;
  background-position: center;
  border: 2px solid #ffffff;
  box-sizing: border-box;
  border-radius: 2px;
  flex-shrink: 0;
  align-self: center;
  cursor: pointer;
  padding: 0;
}

.profile__button-add:hover {
  opacity: 0.6;
}

@media screen and (max-width: 767px) {
  .profile__button-add {
    background-size: 16px;
    width: 282px;
    margin-top: 30px;
  }
}
