.card__trashbox {
  background-image: url(../../../images/main-trashbox.svg);
  background-size: 18px 19px;
  background-color: transparent;
  width: 18px;
  height: 19px;
  border: none;
  padding: 0;
  background-repeat: no-repeat;
  cursor: pointer;
  position: absolute;
  right: 20px;
  top: 20px;
}

.card__trashbox:hover {
  opacity: 0.6;
}
