.popup__authmessage {
  display: flex;
  flex-direction: column;
  margin-top: 60px;
  align-items: center;
}

@media screen and (max-width: 767px) {
  .popup__authmessage {
    margin-top: 50px;
  }
}
