.profile__button-edit {
  background: url(../../../images/profile-editbutton.svg);
  background-size: 10px;
  background-repeat: no-repeat;
  background-position: center;
  width: 24px;
  height: 24px;
  border-color: #ffffff;
  border-width: 1px;
  align-self: center;
  cursor: pointer;
  margin-left: 18px;
  margin-top: 5px;
  display: flex;
}

.profile__button-edit:hover {
  opacity: 0.6;
}

@media screen and (max-width: 767px) {
  .profile__button-edit {
    background-size: 7.5px;
    width: 18px;
    height: 18px;
    margin-left: 13px;
    margin-top: 8px;
  }
}
